body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: salmon;
}

.clock {
    display: inline-block;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.time {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dayOfWeek {
    font-size: 24px;
    color: #555;
}
